.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(118, 94, 171);
}

.header__logo{
    height: 125px;
    object-fit: contain;
    width: 200px;
}

.header__icon{
    padding: 20px;
    color: aliceblue;
}