@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    /* background-color: rgb(247, 245, 249); */
    background-color: rgb(118, 94, 171);
}
.main {
    margin: auto;
    margin-top: 8vh;
    width: 50%;
    position: center;
    padding: 20px;
    /* max-width: 80vw; */
    /* height: 50vh; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    align-items: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(240, 239, 241);
}
.main > h1 {
    padding: 10px;
    font-size: 30pt;
    font-family: 'Comfortaa';
}
.main>p {
    padding: 10px;
    font-size: 20pt;
    font-family: 'Comfortaa';
}

/* display: flex;
    justify-content: space-between;
    align-items: center; */
/* position:relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        width: 50%;
        padding: 10px; */

/* width: 600px;
        padding: 20px;
        max-width: 80vw;
        height: 50vh;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3); */

/* font-family: "Lucida Console",
        "Courier New",
        monospace; */